.block1 {
    box-shadow:10px -10px 10px #999999;
    border-radius:10px;
    background: #999999;
    padding: 5px;
    padding-right: 5px;
    border: solid 1px black;
    float: left;
}
.linkstyle{
    display: inline-block;
    margin: 5px;
    padding: 3px 5px;
    background: #9aa2ad;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.mac {
    display: block;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    color: #333;
    box-shadow:
            inset 0 2px 0 rgba(0,0,0,.2),
            0 0 4px rgba(0,0,0,0.1);
}
.btn{
    display: inline-block;
    margin: 15px;
    padding: 6px 15px;
    background: #9aa2ad;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    transition: all 0.3s ease-out;
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.5),
            0 2px 2px rgba(0,0,0,0.3),
            0 0 4px 1px rgba(0,0,0,0.2);
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.7);
}